$primary-color: #f95739;
$second-color: #fff;
$size: 24px;
$bottom-icons: 32px;

@import './components/navbarTopo/estilo';
@import './components/barraLista/estilo';
@import './components/navbarBottom/estilo';